.FavouratePageMain{
    background-color: #272727;
    min-height: 100vh;
    padding-bottom: 40px;
    width: 100%;
}
.NoItemMainDiv{
    padding-top: 10%;
    text-align: center;
    .GoHome{
        text-decoration: none;
        background-color: transparent;
        border: 2px solid white;
        padding: 7px 20px;
        color: white;
        font-weight: 600;
    }
    .GoHome:hover{
        background-color: white;
        color: black;
    }
}
.noItems{
    color: white;
    margin-bottom: 25px;
    // text-align: center !important;
    font-size: 30px;
}
.FavouratePageMain{
    .itemListMain{
        width:70% ;
        height: auto;
        // background-color: yellow;
        padding: 10px;
        margin: auto;
        margin-top: 2%;
    }
    .OneItemCard{
        margin-bottom: 20px;
        width: 100%;
        padding: 20px;
        height: auto;
        background-color: rgb(255, 255, 255);
        border: 2px solid rgb(188, 188, 188);
        border-radius: 7px;
        display: flex;
    }
    .OneItemCard{
        .OneCardLeft{
            width: 30%;
            padding: 10px;
            overflow: hidden;
            img{
                width: 80%;
            }
        }
        .OneCardRight{
            width: 70%;
            padding: 10px;
            border-radius: 7px;
            background-color: rgb(194, 194, 194);
            .rent{
                span{
                    font-size: 10px;
                }
                th{
                    width: 100px;
                    height: 30px;
                }
            }
            .btns{
                // background-color: red;
                padding-top: 20px;
                text-align: center;
                button{
                    width: 32%;
                    margin-right: 3px;
                    border: none;
                    height: 40px;
                    font-weight: 700;
                }
                .view{
                    background-color: green;
                    color: white;
                }
                .view:hover{
                    background-color: rgb(8, 83, 8);
                }
                .bookNow{
                    background-color: rgb(28, 97, 165);
                    color: white;
                }
                .bookNow:hover{
                    background-color: rgb(4, 66, 128);
                }
                .Delete{
                    background-color: rgb(219, 72, 72);
                    color: white;
                }
                .Delete:hover{
                    background-color: rgb(195, 25, 25);
                }
            }
        }

    }
}