.vehicleDetailsMain{
    background-color: #272727;
    height: 100vh;
    padding-bottom: 30px;
    width: 100%;
}
.vehicleDetailsMain{
    .detailsMain{
        width: 70%;
        height: auto;
        margin: auto;
        margin-top: 20px;
        display: flex;
        padding: 15px;
    }
    .detailsMain{
        .detailsMainLeft{
            background-color: rgba(204, 204, 204, 0.186);
            width: 50%;
            padding: 10px;
        }
        .detailsMainLeft{
            .Back{
                font-size: 30px;
                color: aliceblue;
            }
            .img{
                height: 100%;
                width: 100%;
                // background-color: rgb(123, 123, 123);
                padding: 30px;
                padding-top: 90px;
            }
            .img{
                img{
                    width: 100%;
                }
               
            }
        }
        .detailsMainRight{
            background-color: rgba(204, 204, 204, 0.186);
            width: 50%;
            color: white !important;
            padding: 13px;
        }
        .detailsMainRight{
            .table{
                margin-top: 30px;
                color: white;
                width: 100% !important;
                // border: 1px solid;
            }
            td{
                text-align: center;
                padding:6px;
                font-size: 17px;
                margin-bottom: 4px !important;
                // border: 1px solid;
                // background-color: white;
                color: rgb(255, 255, 255);
            }
            .td{
                background-color: #272727;
                color: rgb(255, 255, 255);
            }
            button{
                width: 100%;
                border: 2px solid #eaa911;
                background-color: #eaa911;
                height: 40px;
                font-weight: 700;
                transition: .2s;
            }
            .isInRenr{
                background-color: gray;
                border: 2px solid gray;
            }
            .isInRenr:hover{
                background-color: gray;
                color: rgb(0, 0, 0);
            }
            button:hover{
                background-color: transparent;
                color: white;
            }
        }
    }


    @media(min-width:300px) and (max-width:575px){
        .detailsMain{
            width: 70%;
            height: auto;
            display: inline !important;
        }
        .detailsMainLeft{
            width: 100% !important;
            margin: auto;
            background-color: #272727 !important;
        }
        .detailsMainRight{
            // padding-bottom: 30px !important;
            padding: 16px;
            margin: auto;
            width: 100% !important;
            background-color: #272727 !important;
            color: white !important;
        }
        .Back{
           display: none;
        }
        .img{
            height: 100%;
            width: 100%;
            // background-color: rgb(123, 123, 123);
            padding: 30px;
            padding-top: 10px !important;
        }
        .td{
            background-color: #d9d9d9 !important;
            color: rgb(35, 35, 35) !important;
        }
    }


    @media(min-width:576px) and (max-width:768px){
        .detailsMain{
            width: 70%;
            height: auto;
            display: inline !important;
        }
        .detailsMainLeft{
            width: 100% !important;
            margin: auto;
            background-color: #272727 !important;
        }
        .detailsMainRight{
            // padding-bottom: 30px !important;
            padding: 16px;
            margin: auto;
            width: 100% !important;
            background-color: #272727 !important;
            color: white !important;
        }
        .Back{
           display: none;
        }
        .img{
            height: 100%;
            width: 100%;
            // background-color: rgb(123, 123, 123);
            padding: 30px;
            padding-top: 10px !important;
        }
        .td{
            background-color: #d9d9d9 !important;
            color: rgb(35, 35, 35) !important;
        }
    }
}