.addVehicleMain{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.663),rgba(0, 0, 0, 0.663)),url(/bgCar.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.addVehicleMain{
    .back_btn{
        padding: 10px;
    }
    .backBtn{
        text-decoration: none;
        color: #ffffff;
        font-size: 40px;
    }
    .main_card{
        // background-color: red;
        height: auto;
        width: 70%;
        margin: auto;
        // margin-top: 2%;
        padding: 40px;
    }
    .main_card{
        h2{
            text-align: center;
            margin-bottom: 20px;
            color: #ffffff;
            font-weight: 700;
            letter-spacing: 1px;
        }
    }
    .inputs{
        // background-color: red;
        width: 90%;
        margin: auto;
    }
    .inputs{
        input,select{
            width: 48.4%;
            margin-bottom: 14px;
            margin-right: 10px;
            height: 40px;
            color: white;
            padding-left: 10px;
            border: none;
            border-radius: 6px;
            background-color: transparent;
            border: 1px solid #ffffff98;
            // margin: 4px;
        }
        .file_input{
            padding: 4px;
        }
        select{
            color: #ffffff;
            background-color: rgba(0, 0, 0, 0.393);
            padding-right: 10px;
        }
        input::placeholder{
            color: #ffffff77;
            font-size: 16px;
        }
        input:focus {
           outline: none;
           }
           select:focus{
            outline: none;
           }
        .submit_btn{
            padding-top: 24px;
        }
        .submit_btn{
            button{
                background-color: #ffffff;
                color: rgb(0, 0, 0);
                font-weight: 700;
                border: none;
                width: 98.2%;
                height: 40px;
                border-radius: 6px;
            }
        }
      
    }

    ////////////////media query/////////////////
    @media(min-width:300px) and (max-width:575px){
        .main_card{
            // background-color: rgb(105, 38, 38);
            width: 90%;
            margin: auto;
            padding: 0px;
        }
        .inputs{
            // background-color: red;
            width: 100%;
            margin: auto;
        }
        .inputs{
            input,select{
                margin-right: 0;
                width: 44.5%;
                margin-bottom: 10px;
                margin-left: 10px;
            }
            select{
              font-size: 12px;
            }
            input::placeholder{
                font-size: 12px;
            }
            .submit_btn{
                padding-top: 20px;
            }
            .submit_btn{
                button{
                    width: 50.2%;
                    height: 35px;
                    border-radius: 2px;
                    margin-left: 24%;
                }
            }
          
        }
    }


    @media(min-width:576px) and (max-width:767px){
        .main_card{
            // background-color: rgb(105, 38, 38);
            width: 90%;
            margin: auto;
            padding: 0px;
        }
        .inputs{
            // background-color: red;
            width: 100%;
            margin: auto;
        }
        .inputs{
            input,select{
                margin-right: 0;
                width: 47.5%;
                margin-bottom: 10px;
                margin-left: 10px;
            }
            select{
              font-size: 16px;
            }
            input::placeholder{
                font-size: 16px;
            }
            .submit_btn{
                padding-top: 20px;
            }
            .submit_btn{
                button{
                    width: 50.2%;
                    height: 35px;
                    border-radius: 2px;
                    margin-left: 24%;
                }
            }
          
        }
    }


    @media(min-width:768px) and (max-width:991px){
        .main_card{
            // background-color: rgb(105, 38, 38);
            width: 90%;
            margin: auto;
            padding: 0px;
        }
        .inputs{
            // background-color: red;
            width: 100%;
            margin: auto;
        }
        .inputs{
            input,select{
                margin-right: 0;
                width: 47.9%;
                margin-bottom: 10px;
                margin-left: 10px;
            }
            select{
              font-size: 16px;
            }
            input::placeholder{
                font-size: 16px;
            }
            .submit_btn{
                padding-top: 20px;
            }
            .submit_btn{
                button{
                    width: 50.2%;
                    height: 35px;
                    border-radius: 2px;
                    margin-left: 24%;
                }
            }
          
        }
    }


    @media(min-width:992px) and (max-width:1200px){
        .main_card{
            // background-color: rgb(105, 38, 38);
            width: 90%;
            margin: auto;
            padding: 0px;
        }
        .inputs{
            // background-color: red;
            width: 100%;
            margin: auto;
        }
        .inputs{
            input,select{
                margin-right: 0;
                width: 47.9%;
                margin-bottom: 10px;
                margin-left: 10px;
            }
            select{
              font-size: 16px;
            }
            input::placeholder{
                font-size: 16px;
            }
            .submit_btn{
                padding-top: 20px;
            }
            .submit_btn{
                button{
                    width: 50.2%;
                    height: 35px;
                    border-radius: 2px;
                    margin-left: 24%;
                }
            }
          
        }
    }
}