.IndexMainDiv{
    background-color: #272727;
    height: auto;
    padding-bottom: 40px;
}
.IndexMainDiv{
    .hero{
        width: 100%;
        height: 91vh;
        display: flex;
        // border-bottom: 2px solid rgba(255, 255, 255, 0.529);
    }
    .hero{
        .hero-right{
            width: 50%;
            order: 2;
            // height: 300px;
            // background-color: red;
        }
        .hero-left{
            order: 1;
            width: 50%;
            padding-top: 6%;
            padding-left: 6%;
            // background-color: red;
        }
        .hero-left{
            h1{
                color: #eaa911;
                font-size: 70px;
                // background-color: red;
            }
            p{
                color: #eaa911;
                width: 100% !important;
            }
            span{
                color: white;
            }
            .RentCarBtnDiv{
                padding-top: 10px;
            }
            .RenrCarBtn{
                text-decoration: none;
                background-color: #eaa911;
                border: 2px solid #eaa911;
                color: #272727;
                padding: 6px 20px;
                font-weight: 600;
                font-size: 22px;
                transition: .2s;
            }
            .RenrCarBtn:hover{
                background-color: transparent;
                color: #eaa911;
                border-radius: 20px;
            }
        }
        .hero-right{
            img{
                width: 100%;
                margin-top: 60px;
            }
        }
    }
    .ul-big{
        width: 80%;
        border-bottom: 4px solid #eaa9117c;
        margin: auto;
        margin-bottom: 30px;
    }

    .itemList{
        .itemListHeading{
            h1{
                color: #eaa911;
                text-align: center;
                font-size: 50px;
                letter-spacing: 1px;
            }
            span{
                color: white;
            }
        }
        .card-main{
            background-color: red;
            width: 90%;
            margin: auto;
            height: 200px;
            margin-top: 50px;
        }
    }

    @media(min-width:300px) and (max-width:575px){
        .hero{
            display: inline;
        }
        .hero{
            .hero-right{
                order: 1 !important;
                width: 90%;
                margin: auto;
            }
            .hero-left{
                order: 2 !important;
                width: 90%;
                padding-top: 7%;
                padding-left: 0%;
                margin: auto;
                // background-color: red;
            }
            .hero-left{
                h1{
                    color: #eaa911;
                    font-size: 35px;
                    text-align: center;
                }
                p{
                    color: #eaa911;
                    text-align: center;
                    font-size: 13px;
                    width: 100% !important;
                }
                span{
                    color: white;
                }
                .RentCarBtnDiv{
                    padding-top: 10px;
                    text-align: center;
                }
                .RenrCarBtn{
                    text-decoration: none;
                    background-color: #eaa911;
                    border: 2px solid #eaa911;
                    color: #272727;
                    padding: 4px 15px;
                    font-weight: 600;
                    font-size: 15px;
                    transition: .2s;
                }
                .RenrCarBtn:hover{
                    background-color: transparent;
                    color: #eaa911;
                    border-radius: 20px;
                }
            }
        }
    }
}