@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    // font-family: "Open Sans", sans-serif;
    font-family: "Poppins", sans-serif;
}
.NavbarMain{
    position: sticky;
    top: 0;
}

.NavbarMain{
    .offCanvas{
        .mobileNavToggle{
            color: white;
            font-size: 40px;
            padding-top: 10px;
            padding-left: 10px;
        }
        .offcanvas{
            width: 200px;
            // position: sticky;
        }
    }
    .name{
        color: #eaa911;
        margin-right: 14px;
    }
    .custPhoto{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        overflow: hidden;
    }
    .custPhoto{
        img{
            width: 100%;
        }
    }
    .userIcon{
        font-size: 27px;
    }
    .navBar{
        width: 100%;
        background-color: #272727;
        position: sticky;
        top: 0;
    
    }
    .bignavbar{
       padding: 20px 50px 20px 50px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .bignavbar{
        .navlinks{
            display: flex;
            // background-color: red;
            padding-top: 3px;
        }
        .auth{
            display: flex;
            // margin-left: 200px;
        }
        .auth{
            button{
                background-color: #eaa911;
                padding: 2px 15px;
                border: 1px solid #eaa911;
                color: #272727;
                font-weight: 600;
                margin-left: 14px;
                border-radius: 16px;
             }
        }
        h3{
            font-weight: 500 !important;
            letter-spacing: 2px;
            color: #eaa911;
            // border-bottom: 4px solid black;
        }
        .cartMain{
            position: relative;
        }
        .count{
            color: #3e2f0c;
            position: absolute;
            top: -10%;
            left: 30%;
            background-color: #ffff00;
            padding: 1px 7px;
            border-radius: 50%;
            font-size: 10px;
            font-weight: 800
        }
        .cart{
            font-size: 25px;
        }
        .navItems{
            text-decoration: none;
            color: #eaa911;
            margin-right: 30px;
            font-weight: 500;
            letter-spacing: 2px;
            font-size: 16px;
            // transition: .2s;
        }
        .navItems:hover{
           border-bottom: 3px solid #eaa911;
        }
        .LoginBtn{
            text-decoration: none;
            font-weight: 600;
            background-color: #eaa911;
            border: 2px solid #eaa911;
            color: rgb(0, 0, 0);
            padding: 7px 20px;
            // margin: 10px;
            letter-spacing: 1px;
            border-radius: 2px;
            font-size: 16px;
            // border: none;
            transition: .2s;
        }
        .LoginBtn:hover{
            background-color: transparent;
            border: 2px solid #eaa911;
            color: #eaa911
        }
    
    
        ////////////////////media-query/////////////////
       
    }
    @media(min-width:300px) and (max-width:700px){
        .bignavbar{
            display: none !important;
        }
    }
    @media(min-width:701px) and (max-width:990px){
        // .offCanvas{
        //     display: none !important;
        // }
        .navItems,.LoginBtn{
            font-size: 13px !important;
        }
    }
    @media(min-width:701px){
        .offCanvas{
            display: none !important;
        }
    }
   
}