.adminHomeMainDiv{
    .nav-bar{
        display: flex;
        height: 60px;
        width: 100%;
        padding: 14px;
        background-color: rgb(255, 255, 255);
        box-shadow: -1px 8px 19px -12px rgba(0,0,0,0.75);
    }
    .nav-bar{
        .bar-btn{
            font-size: 25px;
            cursor: pointer;
        }
        span{
            font-size: 20px;
            font-weight: 800;
            margin-right: 24px;
        }
    }
    .offcanvas{
        width: 300px;
    }
}